.home-wrapper {
    height: 100%;

    .loading {
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .universities-list-wrapper {
        padding: 10px;

        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
