.page-title {
    height: 100px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    
    background-color: black;
    
    color: white;
    text-align: center;
    font-size: large;
    font-weight: bold;
}